<header class="profile-header">
  <h1 class="username-tag"><%= user.username %></h1>
  <span class="status-tag">(<%= user.user_status %>)</span>
</header>
<section id="reputation">
  <h3><%= user.reputation %></h3>
  <p>reputation points</p>
</section>